# Pasta STATIC com mídias
src/ieb/static/

# Ambiente e credenciais
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# macOS
.DS_Store
**/.DS_Store

# Celery
src/celerybeat-schedule

